@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --acidGreen: #35FF69;
    --black: #000;
    --white: #fff;
    --fontSize: 16px;
    --fontFamily: "Inter";
    --debugBorder: 1px solid salmon;
}

@media (max-width: 768px) {
    
    body {
        background-color: var(--black);
        margin: 0 30px;
        font-family: var(--fontFamily);
        color: var(--white);
    }
    a, li, ul {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #grid-container {
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        grid-template-rows: auto 1fr auto;
    }
    header {
        justify-content: space-between;
        align-items: center;
    }
    
    #header {
        margin-bottom: 2em;
        padding: 0;
    }
    .menu-nav {
        margin: 100px auto;
        position: absolute;
        top: 0;
        left: -100dvw;
        clear: both;
        height: 100dvh;
        text-align: center;
        background-color: transparent;
        z-index: 1;
        transition: 0.5s ease-out;
    }
    .menu-nav ul li{
        display: block;
        margin: 2em;
    }
    .menu-nav a {
        color: var(--white);
        font-size: 1.1em;
    }
    .menu-nav .cta-menu {
        color: var(--acidGreen);
        font-weight: bold;
        font-size: 1.2em;
    }
    .menu-nav a:hover {
        color: var(--acidGreen);
        text-decoration: underline;
    }
    .menu-btn{
        width: 30px;
        height: 3px;
        position: relative;
        float: right;
    }
    .menu-icon {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--acidGreen);
        transition: background-color 0.25s ease;
    }
    .menu-icon::before,
    .menu-icon::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--acidGreen);
        transition: transform 0.25s ease, top 0.25s ease;
    }
    .menu-icon::before {
        position: absolute;
        top: -8px;
    }
    .menu-icon::after {
        top: 8px;
    }
    #menu-hamb:checked ~ .menu-nav {
        z-index: 1;
        left: 0%;
        background-color: var(--black);
        width: 100dvw;
        height: 100dvh;
        transition: 0.5s ease-out;
    }
    #menu-hamb:checked + .menu-btn .menu-icon {
        background-color: transparent;
    }
    #menu-hamb:checked + .menu-btn .menu-icon::before {
        top: 0;
        transform: rotate(45deg);
    }
    #menu-hamb:checked + .menu-btn .menu-icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-hamb {
        display: none;
    }

    /* form */
    #form-section {
        display: flex;
        justify-content: center;
        margin: 5vh auto;
        width: 100%;
    }
    #form-section form fieldset{
        border: 2px solid var(--acidGreen);
        border-radius: 8px;
    }
    legend h3 {
        font-weight: 300;
        font-size: clamp(0.5em, 1.1em, 2em);
    }
    legend h3 .talk-text {
        color: var(--acidGreen);
        font-weight: 600;
    }
    .fieldset-box {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 10px;
        font-size: var(--fontSize);
        padding: 30px;
        
    }
    .fieldset-box label{
        line-height: 0;
        margin: 0;
    }
    .fieldset-box input {
        color: var(--white);
        margin-bottom: 20px;
        border-radius: 8px;
        height: 30px;
        background-color: transparent;
        border: 1px solid var(--acidGreen);
        box-shadow: 0px 0px 15px var(--acidGreen);
        padding: 5px;
        font-size: 1.1em;
        font-weight: 100;
    }
    .fieldset-box input:focus,
    .fieldset-box textarea {
        border: 1px solid white;
        color: #fff;
        font-size: 1.1em;
        font-weight: 100;
    }
    .fieldset-box textarea {
        height: 100px;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 5px;
        background-color: transparent;
        border: 1px solid var(--acidGreen);
        box-shadow: 0px 0px 15px var(--acidGreen);
    }

    #button-form {
        color: #000;
        border: none;
        border-radius: 8px;
        width: 50%;
        margin: 0 auto;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
        background-color: var(--acidGreen);
        
    }
    #button-form:hover {
        box-shadow: 0 0 20px var(--white);
        transition: .2s ease-out;
    }
}
