@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --acidGreen: #35FF69;
    --black: #000;
    --white: #fff;
    --fontSize: 16px;
    --fontFamily: "Inter";
    --debugBorder: 1px solid salmon;
}

@media (max-width: 768px) {
    
    body {
        background-color: var(--black);
        margin: 0 30px;
        font-family: var(--fontFamily);
        color: var(--white);
    }
    a, li, ul {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #grid-container {
        margin-top: 2em;
        max-width: 1440px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    header {
        justify-content: space-between;
        align-items: center;
    }
    .logo_deroma {
        float: left;
    }
    #header {
        margin-bottom: 2em;
        padding: 0;
    }
    .menu-nav {
        margin: 100px auto;
        position: absolute;
        top: 0;
        left: -40%;
        clear: both;
        height: 100dvh;
        text-align: center;
        background-color: transparent;
        z-index: 1;
        transition: 0.5s ease-out;
    }
    .menu-nav ul li{
        display: block;
        margin: 2em;
    }
    .menu-nav a {
        color: var(--white);
        font-size: 1.1em;
    }
    .menu-nav .cta-menu {
        color: var(--acidGreen);
        font-weight: bold;
        font-size: 1.2em;
    }
    .menu-nav a:hover {
        color: var(--acidGreen);
        text-decoration: underline;
    }
    .menu-btn{
        width: 32px;
        height: 5px;
        position: relative;
        float: right;
        background-color: #35FF69;

    }
    .menu-icon {
        z-index: 10;
        width: 100%;
        display: block;
        background-color: #35FF69;
    }
    #menu-hamb:checked ~ .menu-nav {
        z-index: 1;
        left: 0%;
        background-color: var(--black);
        width: 100dvw;
        height: 100dvh;
        transition: 0.5s ease-out;
    }
    #menu-hamb {
        display: none;
    }
}