/*      DESKTOP STYLE    */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --acidGreen: #35FF69;
    --black: #000;
    --white: #fff;
    --fontSize: 16px;
    --fontFamily: "Inter";
    --debugBorder: 1px solid salmon;
}
@media (min-width:769px) {
    
    body {
        background-color: var(--black);
        margin: 0 30px;
        font-family: var(--fontFamily);
        color: var(--white);
    }
    a, li, ul {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    /* hamnurger nascosto */
    #menu-hamb, .menu-btn, .menu-icon {
        display: none;
    }
    #grid-container {
        margin-top: 2em;
        max-width: 1440px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header {
        margin-bottom: 2em;
        padding: 0;
    }
    .menu-nav ul{
        display: flex;
    }
    .menu-nav a {
        padding-left: 50px;
        color: var(--white);
        font-size: 1.1em;
    }
    .menu-nav .cta-menu {
        color: var(--acidGreen);
        font-weight: bold;
        font-size: 1.2em;
    }
    .menu-nav a:hover {
        color: var(--acidGreen);
        text-decoration: underline;
    }

    /*  form style */
    #form-section {
        margin: 10vh auto;
    }
    #form-section form fieldset{
        width: 100%;
        border: 2px solid var(--acidGreen);
        border-radius: 8px;
    }
    legend h3 {
        font-weight: 300;
        font-size: 2em;
    }
    legend h3 .talk-text {
        color: var(--acidGreen);
        font-weight: 600;
    }
    .fieldset-box {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 10px;
        font-size: var(--fontSize);
        padding: 30px;
        
    }
    .fieldset-box label{
        line-height: 0;
        margin: 0;
    }
    .fieldset-box input {
        color: var(--white);
        margin-bottom: 20px;
        border-radius: 8px;
        height: 30px;
        background-color: transparent;
        border: 1px solid var(--acidGreen);
        box-shadow: 0px 0px 15px var(--acidGreen);
        padding: 5px;
        font-size: 1.1em;
        font-weight: 100;
    }
    .fieldset-box input:focus,
    .fieldset-box textarea {
        border: 1px solid white;
        color: #fff;
        font-size: 1.1em;
        font-weight: 100;
    }
    .fieldset-box textarea {
        height: 100px;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 5px;
        background-color: transparent;
        border: 1px solid var(--acidGreen);
        box-shadow: 0px 0px 15px var(--acidGreen);
    }

    #button-form {
        border: none;
        border-radius: 8px;
        width: 50%;
        margin: 0 auto;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
        background-color: var(--acidGreen);
        
    }
    #button-form:hover {
        box-shadow: 0 0 20px var(--white);
        transition: .2s ease-out;
    }

}
