@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --acidGreen: #04F06A;
    --font: "Inter", sans-serif;
    --debugBorder: 1px solid salmon;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font);
    scroll-behavior: smooth;
}
ul, li, a {
    text-decoration: none;
    list-style: none;
}

@media (max-width: 441px) {
    .grid-container {
        padding: 0 16px 0 16px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        /* border: var(--debugBorder); */
        grid-template-rows: auto auto minmax(auto, 100%) auto auto;
        height: auto;
    }
    .grid-item {
        /* border: var(--debugBorder); */
        position: relative;
    }
    /*    HEADER   */
    .header {
        padding-top: 16px;
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 5px;
        z-index: 100;
        background-color: rgba(255, 255, 255, 85%);
    }

    /* INPUT CHECKBOX MENU RESPONSIVE */
    #menu-btn {
        display: none;
        pointer-events: none;
    }
    .menu-label {
        position: relative;
        width: 30px;
        height: 4px;
        background-color: black;
        z-index: 200;
        display: block;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .menu-label::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        top: -7px;
        z-index: 2;
        transition: top 0.3s ease, transform 0.3s ease;
    }
    .menu-label::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        top: 7px;
        transition: top 0.3s ease, transform 0.3s ease;
    }
    #menu-btn:checked + .menu-label {
        background-color: transparent;
    }
    #menu-btn:checked + .menu-label::before {
        top: 0;
        transform: rotate(45deg);
    }
    #menu-btn:checked + .menu-label::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn:checked ~ .nav-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: 0.7s ease-in-out;
    }


    /*    SHOW TEXT MODERN FAST CODE */
    .show-animation {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 5em;
        text-align: center;
        font-size: 1.3em;

    }
    .show-animation p{
        font-size: 1.5em;
        animation: show-right 0.2s ease-in-out forwards;
        animation-delay: 0.5s;
        opacity: 0;
        font-weight: 500;
    }
    .show-animation p:nth-child(1){
        animation: show-right 2s ease-in-out forwards;
        animation-delay: 0.5s;
        z-index: 0;
    }
    .show-animation p:nth-child(2){
        animation: show-right 2s ease-in-out forwards;
        animation-delay: 1s;
        z-index: 0;
    }
    .show-animation p:nth-child(3){
        animation: show-right 2s ease-in-out forwards;
        animation-delay: 1.5s;
    }
    .show-animation p:nth-child(4){
        animation: show-right 2s ease-in-out forwards;
        animation-delay: 2s;
        color: var(--acidGreen);
    }
    @keyframes show-right {
        0% {
            opacity: 0;            
        }
        66%{
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
        
    }


    /*   MENU NAV */
    .nav-menu {
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 150;
        visibility: hidden;
        pointer-events: none;
        margin: 0 auto;
        transition: 0.8s ease-in-out;
        text-align: center;
    }
    .list-menu {
        margin: 0;
        padding: 30% 0;
    }
    .list-menu li {
        padding: 10px 0 0 0;
    }
    .list-menu li a {
        color: black;
        font-size: 1.3em;
        font-weight: 500;
    }
    .list-menu li:hover {
        color: black;
        background-color: lightgrey;
    }


    /*  HERO SECTION.  */
    .hero-container {
        height: 50vh;
        /* border: var(--debugBorder); */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }
    .hero-container h4, h1, p{
        padding: 0;
        margin: 0;
    }
    .hero-container h4 {
        font-weight: 300;
        font-size: clamp(0.8em, 1.1em, 1.8em);
    }
    .hero-container h1 {
        font-size: clamp(3.5em, 4em, 4em);
    }

    .concept {
        color: var(--acidGreen);
    }



    /*    ABOUT ME     */
    .about-me {
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me h2 {

    }
    .about-me .text-about-me{
        width: 75%;
        text-align: left;
        padding: 3em 0 3em 0;
        font-size: clamp(0.8em, 1.1em, 1.5em);
        letter-spacing: 0.1em;
    }
    .green {
        padding: 0;
        font-size: clamp(1.1em, 1.5em, 1.5em);
        color: var(--acidGreen);
        line-height: 100%;
    }

    /*   PROJECT SECTION */
    .project-area {
        border: var(--debugBorder);
        padding-top: 7em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .project-area h2 {
        font-size: clamp(0.8em, 1.5em, 1.5em);
    }
    .project-area p {
        width: 75%;
        text-align: left;
        padding: 1.5em 0 3em 0;
        font-size: clamp(0.8em, 1.1em, 1.5em);
        letter-spacing: 0.1em;
    }

    /* box card */
    .box-card {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: var(--debugBorder);
    }
    .card {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 15em;
        height: 15em;
        background-color: hsl(0, 4%, 78%);
        border-radius: 8px 8px 8px 8px;
        padding-right: 0.2em;
        border: var(--debugBorder)
    }
    .card p {
        font-size: 4em;
        font-weight: 600;
    }
    .card:hover {
        cursor: pointer;
        background-color: black;
        color: var(--acidGreen);
        transition: 0.5s ease-in;
    }

    /*   FOOTER   */
    #footer {
        display: flex;
        background-color: black;
        flex-direction: column;
        padding: 0.8em;
        margin-top: 5em;
        width: 100vw;
        margin-left: calc(50% - 50vw);
        color: white;
        font-size: 0.8em;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .info-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 12px;

    }
    .info-1 img {
        width: 33%;
        height: 50%;
    }
    .info-1 h5 {
        margin: 0;
        padding: 0;
    }
    .info-2, .info-2 a {
        text-align: center;
        text-decoration: none;
        color: white;
    }
}
