@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --acidGreen: #04F06A;
    --font: "Inter", sans-serif;
    --debugBorder: 1px solid salmon;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font);
}
ul, li, a {
    text-decoration: none;
    list-style: none;
}

@media (max-width: 425px) {
    .grid-container {
        padding: 0 16px 0 16px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        border: var(--debugBorder);
        grid-template-rows: auto minmax(500px, 90vh) auto auto;
        overflow: hidden;
    }
    .grid-item {
        border: var(--debugBorder);
    }
    /*    HEADER   */
    .header {
        padding-top: 16px;
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
    }

    /* INPUT CHECKBOX MENU RESPONSIVE */
    #menu-btn {
        display: none;
    }
    .menu-label {
        position: relative;
        width: 30px;
        height: 4px;
        background-color: #04F06A;
        z-index: 2;
    }
    .menu-label::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #04F06A;
        top: -7px;
        z-index: 2;
    }
    .menu-label::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #04F06A;
        top: 7px;
    }
    #menu-btn:checked ~ .nav-menu {
        opacity: 1;
        transition: 0.8s ease-in-out;
    }






    /*   MENU NAV */
    .nav-menu {
        width: 100%;
        height: 100vh;
        background-color: rgb(169, 49, 49);
        position: absolute;
        top: 0;
        opacity: 0;
        margin: 0 auto;
        padding-top: 40%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        transition: 0.8s ease-in-out;
    }
    .list-menu li {
        padding-bottom: 2em;
    }
    .list-menu li a {
        color: black;
        font-size: 1.3em;
        font-weight: 500;
    }
}