* {
    margin: 0;
    padding: 0;
}
/* variabili */
:root {
    --acidGreen: #11e345;
    --debugBorder: 1px solid salmon;
}
@media (min-width: 768px){
    
    body {
        margin: 0 auto;
        font-family: "Inter", sans-serif;
        font-size: 16px;
    }
    a{  
        padding: 2px 5px;
        text-decoration: none; 
    }


    /* container grid */
    #grid-container {
        max-width: 1280px;
        margin: 2dvh auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 500px auto auto auto;
        /* grid-row: auto 500px auto auto; */
        border: var(--debugBorder)
    }
    .row-layout {
        border: var(--debugBorder);
    }

    /* HEADER */
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header .nav-menu ul {
        padding: 3px 5px;
        list-style: none;
        display: flex;
        gap: 2em;
    }
    #header .nav-menu ul li a {
        font-size: 20px;
        color: black;
    }
    #header .nav-menu ul li .green-text {
        color: black;
        background-color: var(--acidGreen);
        font-weight: bold;
    }
    #header .nav-menu ul li .green-text:hover {
        color: black;
        box-shadow: 0 0 8px grey;
        background-color: var(--acidGreen);
        font-weight: bold;
        transition: 0.5s ease-out;
    }

    #header .nav-menu ul li a:hover {
        box-shadow: 0 0 8px grey;
        background-color: var(--acidGreen);
        transition: 0.5s ease-out;
    }
    #menu-btn, #btn-icon {
        display: none;
    }

    /* CONTENUTO PRINCIPALE */

    /* CONTENUTO EXTRA */

    /* FOOTER */
}